.Footer

    &__menu-link
        color: #aaa 

        &:hover,
        &:active,
        &:focus
            color: #dc4545
            cursor: pointer

    &__menu-item
        display: inline-block
        margin-right: 30px
        font-size: 16px
        margin: 25px 15px

        &:hover
            color: #b5b5b5 !important